li{
    display: inline-block;
    margin-right: 93px;
    margin-top: 30px;
    margin-left: 30px;
    font-family: FiraGO;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;

}
img{
    vertical-align: middle;
    }
a{
    vertical-align: middle;
 }
.main{
     color: rgba(78, 111, 174, 1);
}
.other{
    color: rgba(141, 129, 255, 1);
}

.contacted {
	color: #4E6FAE;
	width: 474px;
    height: 34px;
    font-size: 36px;
    font-weight:700 ;


}
.class { 
	color: #7E8898
;

}
.classes {
	color: #3F4145
;
}
.contacts{
    margin-left: 37px;
    margin-top: 170px;
    display: inline-block;
}
p{
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}
.maps{
	display:inline-block;
	margin-left: 500px;
	margin-top: -230px;
}
.line{
    
    height:48px;
    width:3px;
    background-color:rgba(80, 18, 213, 1);
    display: inline-block;
    margin-left:3px;
    vertical-align:middle;
}
.social-media{
    margin-left:43px;
    margin-top:53px;
    margin-bottom:103px;
}